In [21]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

import warnings
warnings.filterwarnings('ignore')

In [22]:
data_df = pd.read_csv(Path(r'C:\Users\sergi\Desktop\Fintech Bootcamp\Project 2 group 1\Sample5.csv'))
# Review the DataFrame
data_df

,Unnamed: 0.1,Unnamed: 0,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,67687,2244693,2022/09/04 18:45,220,80FD4ABB0,45701,811953270,2316.73,Shekel,2316.73,Shekel,Cheque,0
1,236093,28714,2022/09/01 00:26,6129,803783EA0,6129,803783EA0,4.65,US Dollar,4.65,US Dollar,Reinvestment,0
2,158830,2298029,2022/09/05 00:11,217959,80BB7AAF0,221279,81163FEF0,26.15,Euro,26.15,Euro,Credit Card,0
3,308599,1370981,2022/09/02 07:41,24963,804886150,29435,80E6F68A0,1366.01,Euro,1366.01,Euro,Credit Card,0
4,362950,4289605,2022/09/09 02:02,14011,801EA7120,13516,805581330,7442.38,Euro,7442.38,Euro,Cheque,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10152,468589,3014910,2022/09/06 11:43,12,80C67D8B0,33727,80C7ECAA0,31394.07,Mexican Peso,31394.07,Mexican Peso,Credit Card,0
10153,480524,2686374,2022/09/05 19:38,18196,8031438B0,131928,80FF6AAD0,623.39,Yuan,623.39,Yuan,Cash,0
10154,169099,4196356,2022/09/08 23:06,1068,800F07400,1068,801A91CF0,14379.35,US Dollar,14379.35,US Dollar,Cheque,0
10155,238976,972523,2022/09/01 19:48,1024,8068B8B00,16450,809802750,182314.26,Euro,182314.26,Euro,Cheque,0
10156,11180,1077205,2022/09/01 22:39,212,800098E10,120292,80771F0B0,485.91,UK Pound,485.91,UK Pound,Cheque,0

In [33]:
data_df.drop(columns=["Unnamed: 0.1","Unnamed: 0","Timestamp"],inplace=True)

In [34]:
data_df

       From Bank  To Bank  Amount Received  Amount Paid  Is Laundering
0            220    45701          2316.73      2316.73              0
1           6129     6129             4.65         4.65              0
2         217959   221279            26.15        26.15              0
3          24963    29435          1366.01      1366.01              0
4          14011    13516          7442.38      7442.38              0
...          ...      ...              ...          ...            ...
10152         12    33727         31394.07     31394.07              0
10153      18196   131928           623.39       623.39              0
10154       1068     1068         14379.35     14379.35              0
10155       1024    16450        182314.26    182314.26              0
10156        212   120292           485.91       485.91              0

[10157 rows x 5 columns]

In [35]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = data_df["Is Laundering"]
# Separate the X variable, the features
X = data_df.drop(columns=["Is Laundering"])

In [36]:
# Review the y variable Series
print(y.head())

0    0
1    0
2    0
3    0
4    0
Name: Is Laundering, dtype: int64

In [37]:
# Review the X variable DataFrame 
X.head()

   From Bank  To Bank  Amount Received  Amount Paid
0        220    45701          2316.73      2316.73
1       6129     6129             4.65         4.65
2     217959   221279            26.15        26.15
3      24963    29435          1366.01      1366.01
4      14011    13516          7442.38      7442.38

In [38]:
# Check the balance of our target values
target_balance = y.value_counts()
target_balance

0    10140
1       17
Name: Is Laundering, dtype: int64

In [39]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

X_train shape: (7617, 4), y_train shape: (7617,)
X_test shape: (2540, 4), y_test shape: (2540,)

In [40]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
model = LogisticRegression(random_state=1)

# Fit the model using training data
# YOUR CODE HERE!
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [41]:
# Make a prediction using the testing data
# YOUR CODE HERE!
y_prediction = model.predict(X_test)

In [42]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
balanced_acc_score = balanced_accuracy_score(y_test, y_prediction)
print(f"Balanced Accuracy Score: {balanced_acc_score}")

Balanced Accuracy Score: 0.5

In [43]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
confusion_mat = confusion_matrix(y_test, y_prediction)
print("Confusion Matrix:")
print(confusion_mat)

Confusion Matrix:
[[2539    0]
 [   1    0]]

In [44]:
# Print the classification report for the model
# YOUR CODE HERE!
classification_rep = classification_report_imbalanced(y_test, y_prediction)
print("Classification Report:")
print(classification_rep)

Classification Report:
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      0.00      1.00      0.00      0.00      2539
          1       0.00      0.00      1.00      0.00      0.00      0.00         1

avg / total       1.00      1.00      0.00      1.00      0.00      0.00      2540